<div class="container-fluid foot">
	<div class="row">
		<div class="col-md-6">
			<!--<img src="img/logo.gif" class="img-responsive">-->
			<p>© 2015 Gabriels Motors - www.gabrielsmotors.com.ar<br>
			Justo José de Urquiza 4210 - Caseros- Bs As - Argentina (B1678AEP)<br>
			Teléfono: +54 1147346098 - +54 1147595810</p>
		</div>
		
	</div>
</div>