{# empty Twig template #}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="top-head"><a href="/"><img src="/img/logo.gif"></a></div>
        </div>
        <div class="col-md-3">
            <form id="busca" name="busca" method="get" action="/busqueda/" enctype="multipart/form-data">
                <div class="input-group stylish-input-group">

                    <input type="text" class="form-control" id="search" name="search"  placeholder="Buscar vehículo" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="fa fa-search"></span>
                        </button>  
                    </span>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-default homenav" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="home">
                                <a href="/">Inicio</a>
                            </li>
                            <li class="chocados">
                                <a href="/vehi08/">Vehículos con 08</a>
                            </li>
                            <li class="conbaja">
                                <a href="/conbaja/">Vehículos con baja</a>
                            </li>
                            <li class="varios">
                                <a href="/varios/">Vehículos varios</a>
                            </li>
                            <li class="fx">
                                <a href="/fx/">Coches efectos especiales</a>
                            </li>
                            <li class="vender">
                                <a href="/vender/">Vender mi coche</a>
                            </li>
                            <!--li class="buscar">
                                    <a href="/busqueda/">Buscar</a>
                            </li-->
                            <li class="contacto">
                                <a href="/contacto/">Contacto</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>