<footer>    
        <a class="btn btn-primary" style="color: white;" href="{{ path(path) }}">
            <i class="fa fa-arrow-circle-left"></i>
            Volver
        </a>
        <a class="btn btn-primary" style="color: white;" href="{{ path(path~'_edit', { 'id' : id }) }}">
            <i class="fa fa-edit bigger-110"></i>
            Editar
        </a>
</footer>